.circle{
    display: flex;
    margin-top: 3rem;
    justify-content: center;


    @include media("<=tablet"){
       float: right;
        
    }

    .outer-circle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24rem;
        height: 24rem;
        border: 0.2rem  solid var(--accent-color);
        border-radius: 50%;
        position: relative;

        @include media("<=tablet"){
            width: 18rem;
            height: 18rem; 
        }

        @include media("<=phone"){
            width: 10rem;
            height: 10rem; 
         }

        .inner-circle{
            height: 20rem;
            width: 20rem;
            border: 0.3rem solid var(--accent-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;


        @include media("<=tablet"){
            width: 16rem;
            height: 16rem; 
        }
        @include media("<=phone"){
            width: 5rem;
            height: 5rem; 
         }

            img{
            max-inline-size: 100%;
            block-size: auto;
            z-index: 100;
            height: 17rem;
            }
        }
        .lines{
            display: flex;
            gap: 3rem;
            position: absolute;

            .line{
                height: 28rem;
                width: 0.3rem;
                background-color: var(--accent-color);
                transform: rotate(45deg);


                @include media("<=tablet"){
                    height: 19rem;
                }
                @include media("<=phone"){
    
                    height: 7rem; 
                 }
            }
        }
    }
}